*{
    padding: 0;
    margin: 0;
}
.top {
    position: sticky;
    bottom: 30px;
    margin-top: 100vh;

  }
a{
    color: rgb(0, 0, 0);
}
p{
    font-size: 35px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.arrow{
    font-size: 30px;
    position: absolute;
    left: 27%;
    top: 20%;
    color: #fff;
}

  

  